// DKAN / others try to embed icon here
.govready-container .view-container {
  .govready-messages {
    .alert {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 20px;
      } 
    }
  }

  .alert:before {
    content: '';
  }
}