

.view-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.sites-list-wrapper {
  position: static;
}

.sites-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  position: relative;

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 32px;
  }

  a {
    margin-top: -16px;
    top: 50%;
    right: 0;
    position: absolute;
  }
}

.sites-list {
  @include transition(right 0.2s ease);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  position: absolute;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  right: -80%;
  z-index: 100;
  top: 68px;
  width: 80%;
  background: white;
  padding: 20px 20px 68px;
  border: 1px solid #ddd;
  border-right: 0;


  .list-group-item {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

    &:first-child {
      border-top: 0;
    }
  }

  &.open {
    right: 0;
  }

  @media (min-width: 768px) {
    width: 400px;
    right: -400px;
  }
}

.well.well-faint {
  background: #f9f9f9;
  border-color: #f2f2f2;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.01);
}