#govready-container {
  &, p, td {
    font-size: 16px;
  }
}

#govready-container {
  h1, h2, h3, h4, h5, h6 {
    &.margin-top-none {
      margin-top: 0;
    }
    &.margin-bottom-none {
      margin-bottom: 0;
    }
  }
}